body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#header {
    position: fixed;
    background-color: black;
    margin-top: 0;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    
}

#logo {
    position: fixed;
    top: 0;
    left: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo p {
    margin: 0;
    padding: 15px 0;
    font-size: 24px;
}

#logo a {
    text-decoration: none;
    color: white;
}







/*--- Menu Submenu geschlossen und offen ---*/
/*--- Nicht Veränderbar ---*/
#menu-list {
    list-style-type: none;
    display: none;
}

.submenu-list {
    list-style-type: none;
    display: none;
}

/*--- Veränderbar ---*/
#menu-list.open {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 40px;
    height: calc(100% - 50px);
    /*Warum geht das nicht*/
}

.submenu-list.open {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    gap: 20px;
    padding-top: 25px;
}



/*--- Menu Button --- */
#menu-button-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#menu-button {
    background-color: black;
    color: rgb(229, 229, 229);
    border: none;
    font-size: 24px;
}

#menu-button:hover {
    cursor: pointer;
    color: white;
}





/*--- Menu Liste ---*/
#menu-list-container {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 2;
    padding: 0;


}

/*--- Submenu Button ---*/
.submenu-button {
    background-color: black;
    color: rgb(229, 229, 229);
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.submenu-button:hover {
    cursor: pointer;
    color: white;
}

.submenu-button a {
    background-color: black;
    color: rgb(229, 229, 229);
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

}





/*--- Submenu Liste ---*/



.submenu-list-item a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(229, 229, 229);
    display: flex;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    text-transform: uppercase;
}

.submenu-list-item a:hover {
    color: white;
}






#content {
    padding-top: 40px;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

#footer {
    bottom: 0;
    background-color: rgb(229, 229, 229);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Zentriert ALLES in diesem Block */
}

.footer-content div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Abstand zwischen Icons */
}

.socialmedia-logo img {
    width: 50px;
    height: 50px;
}

.socialmedia-logo img:hover {
    transform: scale(1.4);
    transition: transform 0.2s;
}

#legal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
}

.legal-logo {
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding-top: 20px;
}

.legal-logo img {
    width: 30px;
    height: 30px;
}

.legal-logo:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}




.indexpage-content {
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 20px;
}

.indexpage-img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.indexpage-content-text {
    padding: 20px 40px;
}

.learn-more-btn {
    margin-top: 30px;
    width: fit-content;
    margin-bottom: 30px;
}

.learn-more-btn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: black;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 4px;
}

.learn-more-btn a:hover {
    background-color: whitesmoke;
    color: black;
}


#job-application-container,
#internship-container {
    width: 100%;
}

.collapsed {
    background: red;
    max-height: 0;
    overflow: hidden;
}












.current-page a {
    color: white;
}